html, body, *{margin:0; padding:0; font-family: SSL}

body{
	background: #f7f7f7;
}

@font-face{	
  font-family: "SSL";
  src:url('fonts/SourceSansLight.otf');
}

@font-face{	
  font-family: "SSLI";
  src:url('fonts/SourceSansLightItlaic.otf');
}

@font-face{	
  font-family: "RBS";
  src:url('fonts/RobotoSlab-Bold.ttf');
}

.topo{
	width:100%;
	background:#323232;
	height:80px;
}
.conteudoTopo{
	width:80%;
	height:80px;
	margin: 0 auto;
}
.logo{
	width:30%;
	float:left;
}
.logo img{
	width:150px;
	margin-top:10px;
}
.menu{
	width:70%;
	float:right;
}

.menu ul{
	float:right;
	margin-top:30px;
	list-style: none;
}
.menu ul li{
	float:left;
}
.menu ul li a {
	font-family: 'SSLI';
	padding:30px 30px 23px 30px;
	text-decoration: none;
	color:#fff;
	font-size: 18px;
}
.menu ul li a:hover{
	color:#f99442;
	border-bottom:5px solid #f99442;
}

/*INICIO SEÇÃO 1*/
.sc1{
	width:80%;
	margin: 0 auto;
	margin-top:60px;
}
.conteudoEsquerdo{
	width:40%;
	float:left;
}
.conteudoEsquerdo h1{
	font-family: "RBS";
	margin-bottom:20px;
}
.conteudoEsquerdo p{
	font-style: italic;
	font-size:18px;
	text-align: justify;
	line-height: 25px;
	margin-bottom:20px;
}
.conteudoEsquerdo a{
	text-decoration: none;
	padding:7px 50px 7px 50px;
	background: #f99442;
	border-radius:10px;
	color:#fff;
	font-family: "RBS";
	transition: all 1s;
}
.conteudoEsquerdo a:hover{
	background: #CF6A17;
	transition: all 1s;
}
.conteudoDireito{
	width:60%;
	float:right;
}
.conteudoDireito img{
	width:600px;
	float:right;
}

/*FIM SEÇÃO 1*/