html, body, *{margin:0; padding:0;}
body{
	background: #80808066;
}
body img{
	width: 300px;
}
body h1{
	color: #f99442;
	font-family: algerian;
}
footer{
	border-radius: 10px;
	font-size: 20px;
	font-style: italic;
	color: #fff;
	text-align: center;
	background: linear-gradient(to right, #fff, #000,#000);
}
.conteudo h2{
	font-style: italic;
	border-radius: 10px;
	text-align: center;
	background:linear-gradient(to right, #fff, #000, #000);
	color: #fff;
}
.conteudo input{
	background-color: #fff;
	border-radius: 7px;
	border-style: ridge;
	color: #000;
	font-size: 20px;
}
.conteudo input:hover{
	width: 120px;
	color: #fff;
	border-bottom: 5px solid #f99442; 
	background-color: green;
}
.topo{
	width: 100%;
	height: 100px;
	background: linear-gradient(to right, #fff, #2cfd1c);
}
.logo{
	padding-left: 133px;
	width: 16%;
	height: 100px;
	float: left;
}
.logo img{
	width: 210px; 
	height: 100px;
}
.conteudo{
	width: 80%;
	margin: 0 auto;
}
.menu{
	width: 35%;
	float: right;
}
.menu ul{
	float: right;
	margin-top: 60px;
	list-style: none;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	font-family: verdana;
	padding: 5px 10px 10px 5px;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
.menu ul li a:hover{
	color: #000;
	border-bottom: 5px solid #000;
}
.conteudo p{
	text-align: justify;
	font-family: verdana;
	font-size: 20px;
}
