html, body, *{margin: 0; padding: 0}

.geral{
	width: 100%;
	height: 100%;
}
.topo{
	width: 100%;
	height: 100px;
	background: green;
}
 img{
	width: 180px;
	margin-top: 10px;
	margin-left: 70px;
}
.menu{ 
	float: right;
	width: 55%;
}
.menu nav ul li{
	margin-top: 50px;
	float:left;
	padding: 10px;
	list-style: none;
}
.menu nav ul li a{
	font-family: 'arial';
	padding: 0px 2px 13px 5px;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}
.menu nav ul li a:hover{
	color: #01268a;
	line-height: 20px;
	text-decoration: all;
	border-bottom: 5px solid #01268a;		
}