html, body, *{margin:0; padding:0;}
body{
	background-color: lightgray;
	width: 1348px;
	height: 1200px;
}
main{
	width: 100%;
	height: 100%;
}
ul{
	letter-spacing: 0.4px;
}
h1{
	font-size: 30px;
	padding: 15px 0px 0px 10px;
	font-family: verdana;
	color: #000;
	letter-spacing: -1px;
	text-align: center;
}
.topo{
	width: 100%;
	background: linear-gradient(to right,rgb(201, 1, 1),rgb(0, 0, 206));
	height: 70px;
}
.conteudoTopo{
	width: 80%;
	height: 70px;
	margin: 0 auto;
}
.logo{
	width: 120px;
	height: 50px;
	float: left;

}
.logo img{
	width: 120px;
	height: 50px;
	margin: 0px 0px 0px 50px; 
	margin-top: 1px;
}
.menu{
	width: 57%;
	float: right;
	margin-top: 18px;
}
.menu ul{
	float: right;
	margin-top: 15px;
	list-style: none;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	padding: 0px 10px 10px 10px;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
.menu ul li a:hover{
	color: #ff0000;
	border-bottom: 5px solid red;
}
.menu ul li ul{
	position: absolute;
	display: none;
	line-height: 50px;
	height: 50px;
	float: left;
	width: 150px;
}
.menu ul li:hover ul{
	background: #323232;
	color: #ff0000;
	display: block;
	line-height: 50px;
	height: 50px;
	float: left;
	width: 150px;
}
.quadrado{
	background-image: linear-gradient(to bottom, rgb(0, 0, 163), rgb(0, 89, 255));
	display: inline-block;
	border: 2px solid black;
	border-radius: 2px;
	background-color: lightgray;
	width: 400px;
	height: 400px;
	margin-top: 100px;
	margin-left: 10px;
	text-align: center;
}
.quadrado h3{
	font-size: 25px;
	text-align: center;
	color: #fff;
}
.quadrado p{
	font-family: verdana;
	font-size: 14px;
	text-align: justify;
	color: #fff;
}
#sobre{
	font-size: 40px;
}